.vscode/**
.vscode-test/**
.git/**
out/test/**
out/tools/**
test/**
src/**
tools/**
test/**
api/**
docs/**
.gitignore
NTGML-PORT-SCOPE.md
NTGML-SPEC.md
NTT Modding Cheat Sheet.md
Script for Extension Vid.md
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.vsix
